<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.c3p0.min_size">5 </property>
    <property name="hibernate.c3p0.max_size">20 </property>
    <property name="hibernate.c3p0.timeout">300 </property>
    <mapping class="com.project.ict.entity.StudentDetailsEntity"/>
    <mapping class="com.project.ict.entity.TeacherDetailsEntity"/>
  </session-factory>
</hibernate-configuration>